h1{
    color: rgb(252, 254, 255);
    text-align: center;
    background: orange;
    font-family: 'Fasthand', cursive;
    font-size: 50px;
    font-weight: 10px;
    letter-spacing: 5px;
}
.Lorem{
    color: aqua;
    font-size: 60px;
}
 
#L{
    color: rgb(4, 217, 255);
    font-size: 40px;
    font-family: 'Fasthand', cursive;
    font-family: 'Patrick Hand SC', cursive;
}
.para{
    font-size: 20px;
    line-height: 30px;
    color: dodgerblue;
    font-family: 'Fasthand', cursive;
    font-family: 'Patrick Hand SC', cursive;
}

.para1{
    font-size: 20px;
    color: rgb(184, 14, 252);
    font-family: 'Fasthand', cursive;
    font-family: 'Patrick Hand SC', cursive;
    
}

.para2{
    font-size: 20px;
    color: rgb(243, 16, 16);
    font-family: 'freestyle script', 'Arial Narrow', Arial, sans-serif;
}

.para3{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: 'freestyle script', 'Arial Narrow', Arial, sans-serif;
}

.para4{
    font-size: 20px;
    color: coral;
    font-family: 'freestyle script', 'Arial Narrow', Arial, sans-serif ;

}


a{
    text-decoration: none;
    color: whitesmoke;
    background-color: rgb(255, 0, 0);
    font-size: 25px;
    display: block;
    width: 150px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}